<%= search_form_for @search, :url => spree.order_export_admin_reports_path do |s| %>
    <div class="date-range-filter field align-center">
        <%= label_tag nil, t(:start), :class => 'inline' %>
        <%= s.text_field :created_at_gt, :class => 'datepicker datepicker-from' %>
        
        <span class="range-divider">
          <i class="icon-arrow-right"></i>
        </span>

        <%= s.text_field :created_at_lt, :class => 'datepicker datepicker-to' %>
        <%= label_tag nil, t(:end), :class => 'inline' %>
    </div>
    
    <div class="align-center">
        <label>
          <%= s.check_box :completed_at_not_null, {:style => 'vertical-align: middle'} %> <%= t("only_show_complete_orders") %>
        </label>
    </div>

    <div class="actions filter-actions">
        <%= button t(:search), 'icon-search'  %>
    </div>
<% end %>
